* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    padding: 0;
    margin: 0;
}


#content-map {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  padding: 0 !important;
}

html, body, #map {
    height: 100%;
    width: 100%;
}

.command-button {
  background-color: #fff;
}

.command-expand {
  background-image: url("images/icons-png/carat-d-black.png");
}

.command-collapse {
  background-image: url("images/icons-png/carat-u-black.png");
}

.command-locate {
  background-image: url("images/icons-png/location-black.png");
}

.command-layer {
  background-image: url("images/icons-png/bars-black.png");
}

.command-search {
  background-image: url("images/icons-png/search-black.png");
}

.command-add {
  background-image: url("images/icons-png/plus-black.png");
}

.command-options {
  background-image: url("images/icons-png/gear-black.png");
}
