* { -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */ }

body {-webkit-touch-callout: none; -webkit-text-size-adjust: none; -webkit-user-select: none; padding: 0;  margin: 0;}

#content-map { position:absolute; top:0; right:0; bottom:0; left:0; padding: 0 !important;}

html, body, #map {height: 100%; width: 100%;}

div.locselecting {cursor: crosshair;}

/* .leaflet-bar a.command-button {background-color: #fff;} */
.leaflet-bar a, .leaflet-bar a:visited {color: #000; font-weight: bold;}
.leaflet-bar a.command-expand {background-image: url("images/icons-png/carat-d-black.png");}
.leaflet-bar a.command-collapse {background-image: url("images/icons-png/carat-u-black.png");}
.leaflet-bar a.command-locate {background-image: url("images/icons-png/home-black.png");}
.leaflet-bar a.command-layer {background-image: url("images/icons-png/bars-black.png");}
.leaflet-bar a.command-search {background-image: url("images/icons-png/search-black.png");}
.leaflet-bar a.command-add {background-image: url("images/icons-png/plus-black.png");}
.leaflet-bar a.command-button-down {background-color: #aaa;}
.leaflet-bar a.command-options {background-image: url("images/icons-png/gear-black.png");}

p.popupname {font-weight: bold; margin:0;}
.smaller {font-size: 100%;}
a.morelink, a.morelink:visited {text-decoration: none; color: #ccc; font-size:20px; line-height:15px;}
a.morelink:hover {color: #888;}
#category-subheader-bar {text-align: center;}
.cat-img-small {height: 16px; width: 16px;}
/* #category-image {height: 32px; width: 32px; background-color: #fff; display:inline;}
 *//* div.inpopup {width: 26px; height: 26px; float: left; text-align: center; text-decoration: none;}
div.popup-details {background-image: url("images/icons-png/action-black.png") no-repeat;}
div.popup-close {background-image: url("images/icons-png/delete-black.png") no-repeat;}
div.popup-close a {line-height:26px;}
div.inpopup:hover {background-color: #f4f4f4;}
 *//* a.inpopup {margin-top:5px; padding: 0 20px;} */
div.leaflet-popup-content {text-align: center; margin: 5px 22px;}

/* div.leaflet-marker-icon {font-size: 14px;} */

div.location-icon {background-color: #0033ff; border-radius:50%;}